*{
    padding: 0;
    margin: 0;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 5px solid black ;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #2768A0;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 30px;
  }

div {
    border-bottom: 5px solid black;
}
    div button{
        display: inline-block;
        padding: 10px;
        font-size: 1.5rem;
        
    }
   div h1{
        text-align: center;
        font-size: 2rem;
        margin: 10px 0px;
        padding: 20px 0px;
    }
   div p{
        display: inline-block;
        padding: 50px;
        font-size: 1.2rem;
    }
        #showEvent,#slideDownEvent,#fadeInEvent{
            display: none;
        }
        .change{
            color: red;
        }
        input{
            padding: 10px;
            font-size: 20px;
        }